
.logo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 152px;
    background-color: $color-Alto;
    
    
    &__Amazon{
        margin: 0 auto;
        width: 60%; 
    }

} 

