
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}
 
main{
    @include margin (40px);
}

.info__subheader{

    h1 {
	    color: $color-Tropical-Rain-Forest;
	    font-family: 'PT Mono', monospace;
    }   
    
}

